.try{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px top;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }

  input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px; 
  }

  button {
    background-color: #dc3545 !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  }

  button:hover {
    background-color: #c82333 !important;
  }